.accordion--nojs {
  @media (max-width: $mobile-width) {
    .accordion__content {
      display: flex;
      margin: 7px 0 7px 5px;
      width: 90%;
    }

    .accordion__content:first-of-type {
      display: flex;
      margin: 7px 0 0 5px;
      width: 90%;
    }

    .accordion__title button {
      display: none;
    }
  }
}

.accordion__item--active {
  @media (max-width: $mobile-width) {
    .accordion__content {
      display: flex;
      margin: 0 0 7px 5px;
      width: 90%;
    }

    .accordion__content:first-of-type {
      display: flex;
      margin: 7px 0 0 5px;
      width: 90%;
    }

    .accordion__icon--plus {
      display: none;
    }

    .accordion__icon--minus {
      display: flex;
    }
  }
}

.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.accordion__title h2 {
  @include font($roboto-condensed, normal, 400);
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  margin: 0;
  color: $tangaroa;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    margin-left: 2px;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 0 25px;
    margin-left: 5px;
  }
}

.accordion__title button {
  display: none;

  @media (max-width: $mobile-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 25px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.accordion__title svg {
  fill: $silver;
}

.accordion__title button:focus svg,
.accordion__title:hover svg {
  fill: $sky-blue;
}

.accordion__title button:active svg,
.accordion__title:active svg {
  opacity: 0.7;
}

.accordion__icon--plus {
  @media (max-width: $mobile-width) {
    display: flex;
  }
}

.accordion__icon--minus {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.accordion__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  margin: 24px 0;
  padding: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    margin: 0 0 17px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.accordion__content--block {
  @media (max-width: 1302px) {
    margin-top: 0;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 17px;
  }
}

.accordion__content a,
.accordion__content li {
  @include font($pt-mono, normal, 400);
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  outline: none;
  color: $tangaroa-light;
}
