.questions {
  background-color: $sky-blue;
  background-image: url("../../img/form/background-form.svg");
  background-repeat: no-repeat;
  background-position: 175px 65%;
}

.questions__wrapper {
  width: calc(100% - 50px);
  min-width: 878px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 60px 0 109px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    width: calc(100% - 48px);
    min-width: 720px;
    max-width: none;
    padding: 20px 0 98px;
  }

  @media (max-width: $mobile-width) {
    width: calc(100% - 30px);
    min-width: 290px;
    padding: 50px 0 64px;
  }
}

.questions__img {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.questions__img img {
  object-fit: cover;
  object-position: center;
}

.questions__box {
  width: 50%;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 31px 0 0 10px;
}

.questions__box h3 {
  @include font($roboto-condensed, normal, 400);
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 5px;
  color: $white;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
    margin-left: 3px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
    margin: 0 0 44px 11px;
  }
}

.questions__box p {
  @include font($pt-mono, normal, 400);
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 0 5px;
  color: $white;
}

.questions__form {

}
